<div class="ui positive message">
<p>您的个人信息更新成功！</p>
</div>

<h4 class="ui top attached header">
	公开信息
</h4>
<div class="ui attached segment">
	<p>您的邮箱地址和手机号被用于接收帐户的所有提醒和通知。请确认无误。</p>
	<form class="ui form" action="/member/settings/profile" method="post">
		<div class="field ">
			<label for="nickname">昵称</label>
			<input id="nickname" name="nickname" value="">
		</div>
		<div class="required field ">
			<label for="email">邮箱</label>
			<input id="email" name="email" value="358276571@qq.com" required>
		</div>
		<div class="required field ">
			<label for="mobile">手机号</label>
			<input id="mobile" name="mobile" value="" required>
		</div>		
		<div class="field">
			<label for="province">所在地区</label>
			<input id="province" name="province"  value="">省，<input id="city" name="city"  value="">市
		</div>
		<div class="field">
			<button class="ui green button">更新信息</button>
		</div>
	</form>
</div>