{{template "header.html" .}}




<div class="explore repositories">
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column">
  <div class="ui vertical menu navbar">
    <div class="header item">探索</div>
    <a class="active item" href="/explore/repos">
      <span class="octicon octicon-repo"></span> 仓库
    </a>
    <a class=" item" href="/explore/users">
      <span class="octicon octicon-person"></span> 用户
    </a>
    <a class=" item" href="/explore/organizations">
      <span class="octicon octicon-organization"></span> 组织
    </a>
  </div>
</div>

      <div class="twelve wide column content">
        <form class="ui form">
  <div class="ui fluid action input">
    <input name="q" value="" placeholder="搜索..." autofocus>
    <button class="ui blue button">搜索</button>
  </div>
</form>
<div class="ui divider"></div>

        <div class="ui repository list">
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/unknwon/grafana">unknwon / grafana</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 1</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 1</span>
        </div>
      </div>
      <p class="has-emoji">The tool for beautiful monitoring and metric analytics &amp; dashboards for Graphite, InfluxDB &amp; Prometheus &amp; More</p>
      <p class="time">最后更新于 <span class="time-since" title="Sun, 14 May 2017 15:46:57 UTC">2 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/SR/physfs">SR / physfs</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 1</span>
        </div>
      </div>
      <p class="has-emoji">PhysicsFS - a library to provide abstract access to various archives. Fork of https://hg.icculus.org/icculus/physfs</p>
      <p class="time">最后更新于 <span class="time-since" title="Sun, 14 May 2017 15:00:34 UTC">3 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/yopito/void-package-mirror">yopito / void-package-mirror</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      <p class="has-emoji">mirror of Void packages git repo. Updated every 8hours</p>
      <p class="time">最后更新于 <span class="time-since" title="Sun, 14 May 2017 13:01:54 UTC">5 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/Homebrew/homebrew-core">Homebrew / homebrew-core</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 1</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sun, 14 May 2017 11:31:13 UTC">6 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/unknwon/gentoo">unknwon / gentoo</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 1</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sun, 14 May 2017 08:47:40 UTC">9 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/alex313/yii">alex313 / yii</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sun, 14 May 2017 08:37:38 UTC">9 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/ReguluStudio/commons-lang">ReguluStudio / commons-lang</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sun, 14 May 2017 03:58:30 UTC">14 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/lie8Sohj/caddy">lie8Sohj / caddy</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 1</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 23:51:02 UTC">18 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/Homebrew/brew">Homebrew / brew</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 1</span>
        </div>
      </div>
      <p class="has-emoji">Fork from https://github.com/Homebrew/brew.git</p>
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 21:26:32 UTC">20 小时之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/douglarek/.emacs.d">douglarek / .emacs.d</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 15:56:15 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/yangli886/CONF.BJ.JRX">yangli886 / CONF.BJ.JRX</a>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      <p class="has-emoji">北京兆维机房生产环境配置文件仓库</p>
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 14:49:24 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/sunface/stwq">sunface / stwq</a>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 13:50:32 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/gatt/react-native-navigation">gatt / react-native-navigation</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 1</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 11:58:08 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/yangli886/ylzoneDoc">yangli886 / ylzoneDoc</a>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 10:54:36 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/test87100/test">test87100 / test</a>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 1</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 10:19:33 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/ZeroNet/ZeroNet">ZeroNet / ZeroNet</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 1</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 1</span>
        </div>
      </div>
      <p class="has-emoji">Decentralized websites using Bitcoin crypto and BitTorrent network</p>
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 08:34:24 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/ZeroNet/ZeroNet-brokenmirror">ZeroNet / ZeroNet-brokenmirror</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 1</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 2</span>
        </div>
      </div>
      <p class="has-emoji">Decentralized websites using Bitcoin crypto and BitTorrent network </p>
      <p class="time">最后更新于 <span class="time-since" title="Sat, 13 May 2017 08:34:24 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/kozbenim/instagram-takipci">kozbenim / instagram-takipci</a>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Fri, 12 May 2017 19:26:05 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/IT/nagios-plugins2">IT / nagios-plugins2</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Fri, 12 May 2017 19:07:41 UTC">1 天之前</span></p>
    </div>
  
    <div class="item">
      <div class="ui header">
        <a class="name" href="/gogsuser/pgloader">gogsuser / pgloader</a>
        
          <span><i class="octicon octicon-repo-clone"></i></span>
        

        <div class="ui right metas">
          <span class="text grey"><i class="octicon octicon-star"></i> 0</span>
          <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
        </div>
      </div>
      
      <p class="time">最后更新于 <span class="time-since" title="Fri, 12 May 2017 17:16:07 UTC">2 天之前</span></p>
    </div>
  
</div>

        
  
    <div class="center page buttons">
      <div class="ui borderless pagination menu">
        <a class="disabled item" >
          <i class="left arrow icon"></i> 上一页
        </a>
        
          
            <a class="active item" >1</a>
          
        
          
            <a class=" item" href="/explore/repos?page=2&q=">2</a>
          
        
          
            <a class=" item" href="/explore/repos?page=3&q=">3</a>
          
        
          
            <a class=" item" href="/explore/repos?page=4&q=">4</a>
          
        
          
            <a class=" item" href="/explore/repos?page=5&q=">5</a>
          
        
          
            <a class="disabled item">...</a>
          
        
        <a class=" item" href="/explore/repos?page=2&q=">
          下一页 <i class="icon right arrow"></i>
        </a>
      </div>
    </div>
  


      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}

