
  </div>
  <footer>
    <div class="ui container">
      <div class="ui left">
        © 2017 FastWeb
      </div>
      <div class="ui right links">
        
          <a target="_blank" href="https://github.com/feisuweb/fastweb"><i class="fa fa-github-square"></i><span class="sr-only">GitHub</span></a>
          <a target="_blank" href="https://twitter.com/fastweb"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
          <a target="_blank" href="http://weibo.com/fastweb"><i class="fa fa-weibo"></i><span class="sr-only">Sina Weibo</span></a>
        
        <div class="ui language bottom floating slide up dropdown link item">
          <i class="world icon"></i>
          <div class="text">简体中文</div>
          <div class="menu">
            
              <a class="item active selected" href="#">简体中文</a>
              <a class="item " href="?lang=en-US">English</a>
              <a class="item " href="?lang=zh-TW">繁體中文（台湾）</a> 
              <a class="item " href="?lang=ja-JP">日本語</a>
            
        
            
          </div>
        </div>
        <a href="/static/assets/librejs/librejs.html" style="display:none" data-jslicense="1">Javascript Licenses</a>
        <a target="_blank" href="https://fastweb.feisuweb.com">官方网站</a>
        <span class="version">Go1.8</span>
      </div>
    </div>
  </footer>
</body>


<script src="/static/js/libs/emojify-1.1.0.min.js"></script>
<script src="/static/js/libs/clipboard-1.5.9.min.js"></script>
</html>