
  </div>
  <footer>
    <div class="ui container">
      <div class="ui left">
        © 2017 Gogs 当前版本: 0.11.8.0407 页面: <strong>2ms</strong> 模板: <strong>2ms</strong>
      </div>
      <div class="ui right links">
        
          <a target="_blank" href="https://github.com/gogits/gogs"><i class="fa fa-github-square"></i><span class="sr-only">GitHub</span></a>
          <a target="_blank" href="https://twitter.com/GogsHQ"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
          <a target="_blank" href="http://weibo.com/gogschina"><i class="fa fa-weibo"></i><span class="sr-only">Sina Weibo</span></a>
        
        <div class="ui language bottom floating slide up dropdown link item">
          <i class="world icon"></i>
          <div class="text">简体中文</div>
          <div class="menu">
            
              <a class="item active selected" href="#">简体中文</a>
            
              <a class="item " href="?lang=en-US">English</a>
            
              <a class="item " href="?lang=zh-HK">繁體中文（香港）</a>
            
              <a class="item " href="?lang=zh-TW">繁體中文（台湾）</a>
            
              <a class="item " href="?lang=de-DE">Deutsch</a>
            
              <a class="item " href="?lang=fr-FR">français</a>
            
              <a class="item " href="?lang=nl-NL">Nederlands</a>
            
              <a class="item " href="?lang=lv-LV">latviešu</a>
            
              <a class="item " href="?lang=ru-RU">русский</a>
            
              <a class="item " href="?lang=ja-JP">日本語</a>
            
              <a class="item " href="?lang=es-ES">español</a>
            
              <a class="item " href="?lang=pt-BR">português do Brasil</a>
            
              <a class="item " href="?lang=pl-PL">polski</a>
            
              <a class="item " href="?lang=bg-BG">български</a>
            
              <a class="item " href="?lang=it-IT">italiano</a>
            
              <a class="item " href="?lang=fi-FI">suomi</a>
            
              <a class="item " href="?lang=tr-TR">Türkçe</a>
            
              <a class="item " href="?lang=cs-CZ">čeština</a>
            
              <a class="item " href="?lang=sr-SP">српски</a>
            
              <a class="item " href="?lang=sv-SE">svenska</a>
            
              <a class="item " href="?lang=ko-KR">한국어</a>
            
              <a class="item " href="?lang=gl-ES">galego</a>
            
              <a class="item " href="?lang=uk-UA">українська</a>
            
          </div>
        </div>
        <a href="/static/assets/librejs/librejs.html" style="display:none" data-jslicense="1">Javascript Licenses</a>
        <a target="_blank" href="https://gogs.io">官方网站</a>
        <span class="version">Go1.8</span>
      </div>
    </div>
  </footer>
</body>






<script src="/static/js/libs/emojify-1.1.0.min.js"></script>
<script src="/static/js/libs/clipboard-1.5.9.min.js"></script>
</html>