
   <div class="user profile"> 
    <div class="ui container"> 
     <div class="ui grid"> 
      <div class="ui five wide column"> 
       <div class="ui card"> 
        <a class="image poping up" href="/user/settings/avatar" id="profile-avatar" data-content="修改头像" data-variation="inverted tiny" data-position="bottom center"> <img src="https://secure.gravatar.com/avatar/cdabe20a0da1bb59ef434c158394e875?s=290" title="feisuweb" /> </a> 
        <div class="content"> 
         <span class="username text center">feisuweb</span> 
        </div> 
        <div class="extra content"> 
         <ul class="text black"> 
          <li> <i class="octicon octicon-mail"></i> <a href="mailto:358276571@qq.com" rel="nofollow">358276571@qq.com</a> </li> 
          <li><i class="octicon octicon-clock"></i> 加入于 May 15, 2017</li> 
          <li> <i class="octicon octicon-person"></i> <a href="/feisuweb/followers"> 0 关注者 </a> - <a href="/feisuweb/following"> 0 关注中 </a> </li> 
         </ul> 
        </div> 
       </div> 
      </div> 
      <div class="ui eleven wide column"> 
       <div class="ui secondary pointing menu"> 
        <a class="active item" href="/feisuweb"> <i class="octicon octicon-repo"></i> 文章列表 </a> 
        <a class="item"> </a>
        <a class=" item" href="/feisuweb?tab=activity"> <i class="octicon octicon-rss"></i> 公众号 </a>  
       </div> 
       <div class="ui repository list"> 
        <div class="item"> 
         <div class="ui header"> 
          <a class="name" href="/feisuweb/test">test</a> 
          <div class="ui right metas"> 
           <span class="text grey"><i class="octicon octicon-star"></i> 0</span> 
           <span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span> 
          </div> 
         </div> 
         <p class="has-emoji">test</p> 
         <p class="time">最后更新于 <span class="time-since" title="Mon, 15 May 2017 07:25:43 UTC">2 小时之前</span></p> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 