<h1>会员首页</h1>
<div class="hero-unit">
	<h1>
		欢迎光临!
	</h1>
	<p>
		欢迎登录优品源码网，有网站使用问题，请点击下面帮助按钮，有其他问题请点击 客服中心 按钮。
	</p>
	<p>
		<a href="help.htm" class="btn btn-primary btn-large">查看帮助</a> <a class="btn btn-large">客服中心</a>
	</p>
</div>
<div class="well summary">
	<ul>
		<li>
			<a href="#"><span class="count">3</span> 购买记录</a>
		</li>
		<li>
			<a href="#"><span class="count">27</span> 浏览记录</a>
		</li>
		<li>
			<a href="#"><span class="count">7</span> 系统消息</a>
		</li>
		<li class="last">
			<a href="#"><span class="count">5</span> 咨询回复</a>
		</li>
	</ul>
</div>
<h2>
	最近购买
</h2>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				产品名称
			</th>
			<th>
				购买价格
			</th>
			<th>
				支付方式
			</th>
			<th>
				购买日期
			</th>
			<th>
				查看详情
			</th>
		</tr>
	</thead>
	<tbody>
	<!--
		<tr>
			<td>
				Nike.com Redesign
			</td>
			<td>
				Monsters Inc
			</td>
			<td>
				New Task
			</td>
			<td>
				4 days ago
			</td>
			<td>
				<a href="#" class="view-link">View</a>
			</td>
		</tr>
		-->
	</tbody>
</table>
<ul class="pager">
	<li class="next">
		<a href="activity.htm">更多记录&rarr;</a>
	</li>
</ul>