<style type="text/css">
.form-control { 
display: block; 
width: 200px; 
height: 34px; 
padding: 6px 12px; 
font-size: 14px; 
line-height: 1.428571429; 
color: #555555; 
vertical-align: middle; 
background-color: #ffffff; 
border: 1px solid #cccccc; 
border-radius: 4px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
} 
.form-control:focus { 
border-color: #66afe9; 
outline: 0; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
} 

.button-control { 
display: block; 
width: 200px; 
height: 34px; 
padding: 6px 12px; 
font-size: 14px; 
line-height: 1.428571429; 
color: #fff; 
vertical-align: middle; 
background-color: red; 
border: 1px solid #cccccc; 
text-align: center;
border-radius: 4px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
} 
.button-control:focus { 
border-color: #66afe9; 
outline: 0; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
}
</style>
<h1></h1>
<form action="/member/upgradevip" method="POST">
<br/>
<table>
	<tr >
		<td style="padding: 10px">当前会员手机号:</td>
		<td height="60px" style="padding: 10px"><input type="text" readonly="readonly" class="form-control"name="mobile" value="" /></td>
		<td style="padding: 10px"></td>
	</tr>
	<tr >
		<td style="padding: 10px">充值金额:</td>
		<td style="padding: 10px"><input type="text" name="money" value="" /><font color="red" style="padding: 10px"></font></td>
		<td style="padding: 10px"></td>
	</tr>
	<tr >
		<td style="padding: 10px"></td>
		<td style="padding: 10px"><input type="submit" name="submit"  class="button-control" value="开始充值"/></td>
		<td style="padding: 10px"></td>
	</tr>
</table>
</form>

<h1>最新购买VIP会员</h1>
<ul class="member-list">
	{{range .memberlist}}
	<li>
		会员<font color="red"> {{.MemberMobile|ReplaceMobile}} </font>在 {{dateformat .AddTime "2006-01-02 15:04"}}  购买VIP套餐 
	</li>
{{end}}	
</ul>
				