{{template "header.html" .}}
<div class="explore repositories">
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column">
		  <div class="ui vertical menu navbar">
		    <div class="header item">帮助</div>
		    <a class="active item" href="/explore/repos">
		      <span class="octicon octicon-repo"></span> 文章
		    </a>
		    <a class=" item" href="/explore/users">
		      <span class="octicon octicon-person"></span> 用户
		    </a>
		    <a class=" item" href="/explore/organizations">
		      <span class="octicon octicon-organization"></span> 组织
		    </a>
 		   </div>
	</div>

 <div class="twelve wide column content">

 <form class="ui form">
  <div class="ui fluid action input">
    <input name="q" value="" placeholder="搜索..." autofocus>
    <button class="ui blue button">搜索</button>
  </div>
</form>
<div class="ui divider"></div>

	{{.LayoutContent}} 


      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}

