<li class="item">
	<div class="ui label">feisuweb/test#1</div>
	<a class="title has-emoji" href="/feisuweb/test/issues/1">工单测试</a>

	

	<p class="desc">
		由 <a href="/feisuweb">feisuweb</a> 与 <span class="time-since" title="Mon, 15 May 2017 07:26:03 UTC">37 分钟之前</span>创建
		
			<a class="ui right assignee poping up" href="/feisuweb" data-content="feisuweb" data-variation="inverted" data-position="left center">
				<img class="ui avatar image" src="https://secure.gravatar.com/avatar/cdabe20a0da1bb59ef434c158394e875">
			</a>
		
	</p>
</li>
